{% extends 'template_view.html.twig' %}
{% block title %} 
Quizz
{% endblock %}
{% block content %}
  <h2 class="center margin-bottom-50"> QUIZZ !! </h2>
  <div class="bigbloc   height-auto">
  <div class="bloc_avatar d-flex isRow ">
      <div class="bloc3 perso-avatar">
        {% if getPlayer[0].img %}
            <img class="avatar" src="./Upload/{{getPlayer[0].img}}"  alt="image upload utilisateur"/></div>
        {% else %}
            <img class="avatar" src="./Upload/defaut.jpg" alt="image upload par defaut"/></div>
      {% endif %}
<div class="info">
  {{content_invite_admin}}
  <div class="bloc_score">Votre Score :<span class="score">{{ score }}</span></div>
  <button class='js-click'>Modification</button><br>
  <a href="index.php?action=deconnection">Deconnexion</a><br>
  <a href="index.php?action=montrer_liste">Voir les autres profils</a>
  </div>
</div>

<div class="isRedBcg center isWhite">
{{content_admin}}</div>
  <div class="bigbloc   d-flex justify-content-center align-item-center align-content-center height-60">
    <div class="bloc11   height-40 d-flex justify-content-center align-item-center align-content-center img_profile width-40" id="guess">
    </div>
  </div>

<div class="overlay au_Milieu">
<div class="overlay_block d-flex">
<span class="close gras isBordered height-3 width-3 ">X</span>
<form method="POST" action="index.php?action=montrer_quizz" class="Perso-Ajust" enctype="multipart/form-data">
  <h4 class="center  margin-bottom-30 gras"> Modifier votre nom </h3>
  <label for="new_name">Votre nom actuellement, c'est : {{name}}</label>

  <input type="text" name="new_name"  placeholder="modifier votre nom"></input><br>
  <input type="submit" name="modifier_nom" class="margin-bottom-30 " value="modifier nom"></input>
    <h4 class="center margin-bottom-30 gras"> Modifier votre Avatar</h3>

  <input type="file" name="file"/><br>
  <input type="submit" name="modifier_photo" class="margin-bottom-70" value="Modifier photo"></input>
</form>
</div>
  </div>
  <div class="band isBordered center au_Milieu js-juge"></div>
  <div class="bigbloc    d-flex justify-content-center align-item-center align-content-center mobile_adapt_bloc_d-column">
    <div class="column full-width d-flex justify-content-center align-content-center">
      <div class="bloc7 width-30 height-10   bloc_quizz isBgreen isWhite d-grid"><h1 class="d-flex justify-content-center align-item-center align-content-center cursor" id='js-choix-1'></h1></div>
      <div class="bloc7 width-30 height-10   bloc_quizz isBrown2 isWhite d-grid"><h1 class="d-flex justify-content-center align-item-center align-content-center cursor" id='js-choix-2'></h1></div>
    </div>
    <div class="column full-width d-flex justify-content-center align-content-center">
      <div class="bloc7 width-30 height-10   bloc_quizz isBrown isWhite d-grid"><h1 class="d-flex justify-content-center align-item-center align-content-center cursor" id='js-choix-3'></h1></div>
      <div class="bloc7 width-30 height-10   bloc_quizz isWhite isDarkBlue d-grid" ><h1 class="d-flex justify-content-center align-item-center align-content-center cursor" id='js-choix-4'></h1></div>
  </div>
</div>
</div>
{% endblock %}